<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is a website that will contain all of your beloved recipes.">
    <title>Grace's Recipes</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <main>
        <h1>Grace's Recipes</h1>
        <div class="Navigation">
          <a href="index.html">Home</a>
          <a href="Breakfast.html">Breakfast</a>
          <a href="Dinner.html">Dinner</a>
          <a href="Baking.html">Baking</a>
        </div>  
        <h2>Dinner</h2>
        
    </main>
  </body>
  <footer>Website created by Parker Woods</footer>
</html>