<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is a website that will contain all of your beloved recipes.">
    <title>Grace's Recipes</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  </head>
  <body>
    <main>
        <h1>Grace's Recipes</h1>
        <div class="Navigation">
          <a href="index.html">Home</a>
          <a href="Breakfast.html">Breakfast</a>
          <a href="Dinner.html">Dinner</a>
          <a href="Baking.html">Baking</a>
        </div>  
        <h2>Welcome to Grace's Recipe Website</h2>
        <p>This is a website to store all recipes Grace and Parker enjoy in a centralized
          location, this makes everything digital and keeps things organized so we 
          can make up our minds about what we want for a meal. 
        </p>
        <p class="images">Series of images here</p>
    </main>
  </body>
  <footer>Website created by Parker Woods</footer>
</html>